$general-font: $lato;

img{
    max-width:100%;
}

html{
    font-size: 10px; // 1 rem
}

body{
    font-family: $general-font;
    font-weight: $font-weight-light;
}

main{
    padding-top: 50px;
}
@media(min-width:576px){
    main{
        padding-top: 57px;
    }
    
}
@media(min-width:992px){
    main{
        padding-top: 77px;
    }
    
}

