$navbar-toggler-bg: $gray-900;
header{
    .navbar-brand{
        img{
            width: 100%;
        }
    }
    .navbar-toggler{
        span{
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 5px;
            background-color: $navbar-toggler-bg;

            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    // navbar-toggler-end

    .navbar-nav{
        a{
            font-size: 1.4rem;
            line-height: 1.7rem;
            font-weight: $font-weight-medium;
            padding: 10px;
            text-align: center;
        }
    }
    .navbar-light .navbar-brand{
        max-width: 50%;
    }
}
//header end
@media(min-width:768px){
    header{
        .navbar-nav{
            li{
                margin-left: 30px;
            }
        }
    }
}

@media(min-width:1200px){
    header{
        .navbar-nav{
            li{
                margin-left: 73px;
            }
        }
    }
}
@media(min-width:320px){
    .navbar-light .navbar-toggler {
        color: rgba(0, 0, 0, 0.5);
        border-color: rgba(0, 0, 0, 0.1);
        margin-right: 52px;
    }
}

@media(min-width:576px){
    .navbar-light .navbar-toggler {
        color: rgba(0, 0, 0, 0.5);
        border-color: rgba(0, 0, 0, 0.1);
        margin-left:auto;
    }
}
