
.service-section{
    margin-bottom: 5.7rem;
    .image-container{
        padding: 0;
    }
    .service-text{

        padding: 0;
    }
    .service-section-title{
        margin-bottom: 58px;
        font-family: $bodoni;
        font-size: 3rem;
        line-height: 4.5rem;
        letter-spacing: 5px;
        text-align: left;
    }
    .service-description{
        font-size: 3.6rem;
        line-height: 4.4rem;
        letter-spacing: normal;
        text-align: left;
    }
    .text-one{
        padding-left: 107px;
        background-color: #ECD9D9;
    }
    .text-two{
        padding-left: 95px;
        background-color: #F5F5F5;
    }
    .button-one{
       margin-left: 107px;
       background-color: transparent;
    }
    .button-two{
        margin-left: 95px;
        background-color: #F5F5F5;
    }
    
        
    
}
