.lead-page-section{
    margin-bottom: 75px;
    padding: 150px 0;
    background-size: cover;
    background-position: center center;
    
    
     

    
    
    

    .lead-section-title{
        font-family: $bodoni;
        font-size: 6rem;
        font-weight: 300;
        line-height: 8.4rem;


     }

      } 